.wrapper
	p Watchman has started at: #{ startTime }
	p The following filter(s) will be run:
		ul
			each filter, i in filters
				li= filter
	p The following sites will be scanned
		ul
			each site, j in sites
				li= site
	p If there is any issues found they will be notified in seperate mailings
	