//-
	Template: WathchmanErrors.jade
	Copyright 2016 Fortunesrocks.me
	Version: 1.07
	Arguments:
		website => website object
		filter => name of the filter sending the email
		errors => Errors array that will get rolled out
		
.body
	table
		tr
			td
				img(src="https://fortunesrocks.me/wp-content/uploads/2013/07/fortunesrocksLogo_250x250_thumb2.png")
			td
				h1(style="text-align:center") Watchman: Security Alert
	.alert().
		Watchman has detected an issue with your website.  One of our watchman protective filters has detected a file with issues on your site.
	div
		h2 What do I need to do?
		p.
			Nothing. We wanted to inform you about this incident and to let you know we are working on it.  One of our engineers is already working to determine if the warning is a real problem.  If watchman had been a bit 
			overzealous (We have pretty strict fitlers), we will let Watchman know it is ok.  If the file is compromised we will fix the issue, determine the source of the breach (usually a weak user's password).  If there is follow up required on your end we will let you know.  Rest assure your site and your visitors are protected. 
	h2 Which website has the error(s)?
	p #{website.site}
	h2 Which filter found the error? 
	p #{filterName}
	h2 What are the errors reported?
	code
		for error in errors
			p #{error}